body {
  font-family: monospace;
  margin: 0;
}

section {
    opacity: 0;
    transform: translate(0, 10%);
    visibility: hidden;
    transition: opacity 500ms ease-out, transform 500ms ease-out;
    will-change: opacity, visibility;
}

.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
  display: flex; 
}